.container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .container {
    display: block;
  }
}

.mainContent {
  width: 75%;
}
@media (max-width: 600px) {
  .mainContent {
    width: 100%;
  }
}
.mainContent header {
  padding: 0 0 20px;
  text-align: center;
}
.mainContent footer {
  border-top: 1px dashed #888;
  margin: 0 auto;
  padding: 40px 0 0;
}
@media (max-width: 600px) {
  .mainContent footer {
    margin: 0 auto 40px;
  }
}

.subContent {
  width: 20%;
}
@media (max-width: 600px) {
  .subContent {
    width: 100%;
  }
}

.card{
  height: 200px;  /*高さ*/
  width: 80%;  /*幅*/
  color: #474747;
  background: whitesmoke;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
  margin:auto;
}

.post {
  margin: 0 auto 40px;
}

.post h3 {
  margin: 0;
  color: var(--fg);
}
.post h4 {
  margin: 1.8rem 0 0.8rem;
  color: var(--fg);
  font-size: 1.2rem;
}
.post h4:after {
  color: var(--accents-1);
  font-size: 0.9rem;
  content: '▼';
  padding-left: 0.2rem;
}
.post h5 {
  margin: 1.8rem 0 0.8rem;
  color: var(--fg);
  font-size: 1.1rem;
}
.post h5:after {
  color: var(--accents-1);
  font-size: 0.9rem;
  content: '▼';
  padding-left: 0.2rem;
}
.post h6 {
  margin: 1.8rem 0 0.8rem;
  color: var(--fg);
  font-size: 1rem;
}
.post h6:after {
  color: var(--accents-1);
  font-size: 0.9rem;
  content: '▼';
  padding-left: 0.2rem;
}
.post p {
  margin: 0.3rem 0;
  color: var(--fg);
  font-size: 1rem;
  min-height: 1.8rem;
}
.post video,
.post img {
  max-width: 100%;
  display: inline-block;
}
.post blockquote {
  margin: 0.6rem 0;
  padding: 0 0.9rem;
  border-left: 3px solid var(--fg);
  font-size: 1rem;
  line-height: 1.8rem;
}
.post table {
  margin: 1rem 0;
}
.post ul {
  font-size: 1rem;
}
.post ol {
  font-size: 1rem;
}
.post p code {
  color: #eb5757;
}
.post footer {
  padding: 0;
  border: 0;
}
