.container {
  max-width: 80%;
  margin: 0 auto;
}

.container > div {
  margin-bottom: 20%;
}
.container div:last-child {
  margin-bottom: 0;
}

.container h2 {
  margin: 0 0 14px;
  font-size: 1.4rem;
  font-weight: 400;
}

.container p {
  margin: 1rem auto;
  line-height: 1.8rem;
}
.drag-and-drop{
  height: 100px;  /*高さ*/
  width: 100px;  /*幅*/
  color: #474747;
  background: whitesmoke;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
  cursor: move;
  position: absolute;
  z-index: 1000;
}
.drag {
  z-index: 1001;
}