<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="23Gj-bA3W6CP5lwglHiwkbcTD9_eQNkPXiPmtRKCbag" />
    <!-- 色変更に使うライブラリで用意されているCSSを導入 https://github.com/bebraw/colorjoe -->
    <link rel="stylesheet" href="../static/css/colorjoe.css">
    <link rel="stylesheet" href="../static/css/shared.module.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <title>my-lifelog</title>
    {% block head %}{% endblock %}
</head>

<body class="all_container">
    <header class="header">
        <div>
            <h1>
                <a href="/">my-lifelog</a>
            </h1>
        </div>
        <ul>
            {% for label in labellist %}
            <li>
              <a href={{labellist[label]}}>{{label}}</a>
            </li>
            {% endfor %}
        </ul>
    </header>
    {% block body %}{% endblock %}
    <footer class="footer">
        <div>
          <span>ゆったり見てね </span>
        </div>
        <div>
        {% for label in labellist %}
            <a href={{labellist[label]}}>・{{label}}　</a>
        {% endfor %}
        </div>
        <div>
            {% for tag in tags %}
                <a href="/tag/{{tag}}">・{{tag}}　</a>
            {% endfor %}
        </div>
    </footer>
</body>

</html>