{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page.module.css') }}">
{% endblock %}
{% block body %}
<div class="container">
  <div>
    <p>
      頑張って生きているけれどSNSで発言するほどでもないのでサイトを作ってみました。
      <br />
      本当はエンジニアに憧れがあるので趣味の一環です。ちょっとずつ作ってみます。
      <br />
      今は初めてコードに触るので、いつか...
      <br />
      <li>
        <a href="https://www.pappardelle-nono.tk/blog">コンテンツはこちらと同じですがpythonで動くよういじっています。</a>
      </li>
      <br />
    </p>
  </div>
</div>
{% endblock %}
