{% extends 'base.html' %}
{% block head %}
<link rel="canonical" href="https://flasknotionblog.herokuapp.com/{{post["Slug"]}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.module.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/notion-block.module.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog-parts.module.css') }}">
{% endblock %}
{% block body %}

<div class="container">
    <div class="mainContent">
        <div class="post">
            <div class="card">
                <div class="postDate">
                    投稿日:{{post["Date"]}} 最終更新日:{{post["LastEditedTime"]}}
                </div>
                <div class="postDate">tags:
                {% for tag in post["Tags"] %}
                    <a href="/tag/{{tag}}">{{tag}}</a>
                {% endfor %}
                </div>
                <h3 class="postTitle">
                    <a href="/{{post["Slug"]}}">{{post["Title"]}}</a>
                </h3>
                <div class="postExcerpt">
                    <p>{{post["Excerpt"]}}</p>
                </div>
            </div> 
            <div class="postBody">
            {% include "content.html" %}
            </div>
        </div>
    </div>

    <div class="subContent">
        <div class="p-4 mb-3 bg-light rounded">
            <div class="blogTagLink">
                <h3>Posts in the same category</h3>
                {% if not post["Tags"] %}
                    <div class="noContents">There are no contents yet</div>
                {% else %}
                    {% for tag in post["Tags"] %}
                        <li key={{tag}}>
                            <a href="/tag/{{tag}}">{{tag}}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="blogTagLink">
                <h3>Categories</h3>
                {% for tag in tags %}
                    <li key={{tag}}>
                        <a href="/tag/{{tag}}">{{tag}}</a>
                    </li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
  {% endblock %}